.func-pactuado {
    background-color: rgb(244, 247, 246);
}

.justificativa-dialog {
    margin: auto;
    width: 450px;
}

.func-pactuado .nome-prof {
    color: black;
}

.botao-pact {
    color: white;
}

.nome-prof {
    color: black;
}