.func-pactuado {
    background-color: cornflowerblue;
}

.justificativa-dialog {
    margin: auto;
    width: 450px;
}

#proc-cod {
    width: 10%;
}

#proc-nome {
    width: 80%;
}

#proc-qt {
    width: 10%;
}