.total-area {
    width: 1000px;
    margin: auto;
}

.tabela-mat {
    width: 8%;
}

.tabela-nome {
    width: 27%;
}

.tabela-cargo {
    width: 20%;
}

.tabela-dias {
    width: 12%;
}

.tabela-justificativa {
    width: 16%;
}

.tabela-opcoes {
    width: 17%;
}

.botao-pact {
    margin-right: 2px;
}

.sub-menu {
    margin: 5px;
    text-align: right;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    
}