.total-area {
    width: 1000px;
    margin: auto;
}

.tabela-nome {
    width: 30%;
}

.tabela-cargo {
    width: 20%;
}

.tabela-dias {
    width: 14%;
}

.tabela-justificativa {
    width: 20%;
}

.tabela-opcoes {
    width: 16%;
}

.botao-pact {
    margin: 1px;
}

.cabeçalho-tabela {
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    text-align: center;
}

.sub-menu {
    margin: 5px;
    text-align: right;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    
}