.total-area {
    width: 1000px;
    margin: auto;
}

.cabeçalho-tabela {
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    text-align: center;
    align-items: center;
}